<div class="user">
  <div class="user__avatar">
    <!-- TODO: add dynamic loading to this using inputs -->
    <img src="avatar.png" alt="Stacey Castillo Profile image" />
  </div>

  <div class="user__name">
    <p>Report for</p>
    <h1>Stacey Castillo</h1>
  </div>
</div>

<div class="period">
  <ul class="d-flex gap-2 flex-column">
    <li>
      <a
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{
          period: 'daily'
        }"
        >Daily</a
      >
    </li>
    <li>
      <a
        routerLink="./"
        routerLinkActive="active"
        [queryParams]="{ period: 'weekly' }"
        >Weekly</a
      >
    </li>
    <li>
      <a
        routerLink="./"
        routerLinkActive="active"
        [queryParams]="{ period: 'monthly' }"
        >Monthly</a
      >
    </li>
  </ul>
</div>
