<div class="user">
  <div class="user__avatar">
    <img src="avatar.png" [alt]="username()" />
  </div>

  <div class="user__name">
    <p>Report for</p>
    <h1>{{ username() }}</h1>
  </div>
</div>

<div class="period" appTheme>
  <ul class="d-flex gap-2 flex-column">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="{ timeframe: 'daily' }"
        appTheme
        >Daily</a
      >
    </li>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [queryParams]="{ timeframe: 'weekly' }"
        appTheme
        >Weekly</a
      >
    </li>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [queryParams]="{ timeframe: 'monthly' }"
        appTheme
        >Monthly</a
      >
    </li>
  </ul>
</div>
