.report-card {
  position: relative;

  background-size: 87px;
  border-radius: 15px;
  height: 170px;

  @media only screen and (max-width: 87.5rem) {
    height: auto;
  }

  &__header {
    height: 65px;
    border-radius: 15px;
    overflow: hidden;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: var(--dark-blue);
    padding: 3rem;
    border-radius: 15px;
    margin-top: -10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--saturated-blue);
      cursor: pointer;
    }
  }
  &__subject {
    justify-content: space-between;
    display: flex;

    span:first-child {
      color: var(--color-white);
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    color: var(--color-white);
    gap: 8px;
    span:first-child {
      font-size: 7.5rem;
      font-weight: 300;
      color: var(--color-white);
      font-style: normal;

      @media only screen and (max-width: 62rem) {
        font-size: 4rem;
      }
    }
    span:last-child {
      font-size: 2.8rem;
      font-weight: 300;
      opacity: 0.9;

      @media only screen and (max-width: 62rem) {
        font-size: 2rem;
      }
    }
  }

  &__date {
    color: var(--color-white-100);
    opacity: 0.6;
    font-weight: 300;
    font-size: 1.8rem;

    span:last-child {
      @media only screen and (max-width: 62rem) {
        span {
          display: none;
        }
      }
    }
  }

  &--job {
    background: var(--color-soft-blue) url("../../../../public/job.svg")
      no-repeat 95% -10%;
  }
  &--fun {
    background: var(--color-soft-red) url("../../../../public/fun.svg")
      no-repeat 95% -10%;
  }
  &--learning {
    background: var(--color-light-red) url("../../../../public/learning.svg")
      no-repeat 95% -10%;
  }
  &--sport {
    background: var(--color-lime-green) url("../../../../public/sport.svg")
      no-repeat 95% -10%;
  }
  &--emails {
    background: var(--color-violet) url("../../../../public/emails.svg")
      no-repeat 95% -10%;
  }
  &--health {
    background: var(--color-soft-orange) url("../../../../public/health.svg")
      no-repeat 95% -10%;
  }
}
