<div class="container">
  <div class="d-flex gap-3 flex-xxl-row flex-column">
    <app-sidebar></app-sidebar>

    <div class="grid">
      <div class="grid-item"><app-report-card></app-report-card></div>
      <div class="grid-item"><app-report-card></app-report-card></div>
      <div class="grid-item"><app-report-card></app-report-card></div>
      <div class="grid-item"><app-report-card></app-report-card></div>
      <div class="grid-item"><app-report-card></app-report-card></div>
      <div class="grid-item"><app-report-card></app-report-card></div>
    </div>
  </div>
</div>
